html, body {
    background-color: #3d3b30;
    margin: 10px;
}

.container {
    background-color: #e7e247;
    border: 10px solid orange;
    display: flex;
}

.portfolio {
    flex: 1;
}

.container li {
    list-style-type: none;
}

.container li a {
    display: inline-block;
    padding: 15px;
    color: #3d3b30;
    font-size: 200%;
    text-decoration: none;
}
@media(max-width:600px) {
    .container {
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }
    .container li {
        flex-basis: 50%;
        /* width: 50%; */
        text-align: center;
    }
}
@media(max-width:400px) {
    /* .container li {
        flex: 1 1 100%;
    } */
    .container {
        flex-direction: column;
    }
    .container li a {
        font-size: 100%;
        padding: 5px;
    }
    html, body {
        background-color: red;
    }
}
@media(max-width: 320px) {
    .container {
        display: none;
    }
    
}
